body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4ffff;
}

header {
    background: #42354A;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

header h1{
   margin: 30px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px 10px 100% 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 5px 0;
    background: #42354A;
    color: #ffffff;
}

#blue{
    text-align: center;
}

h1{
    color: Green;
}

#myN{
    color: blue;
